.welcome {
    display: flex;
    gap: 2em;
    margin: 2em;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.welcome h3{
    text-align: center;
    color: white;
    width: 48rem;
    height: 14rem;
    padding: auto;
    background: black;
    
}

.welcome span{
    color: green;
}